:root {
    --main-color: #161B33;
    --main-color-fade: rgba(22, 27, 51, 0.8);
    --secondary-color: #F1DAC4;
    --secondary-color-fade: rgba(241, 218, 196, 0.6);
    --background-color: #FFFFFF;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--background-color);
}

.btn-wrapper {
    display: flex;
    flex-direction: column;
}