:root {
    --main-color: '#161B33';
    --secondary-color: '#F1DAC4';
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.MainAlignButtons {
    position: absolute;
    bottom: 25%;
    width: 100vw;
    justify-content: center;
}

.NavButton {
    width: 5vw;
}